# Ignore the Following Files
.DS_Store
*.csv
*.csv.gz
*.zip
*.pem
*.txt
*.xls
*.json
*.pkl
*.jpeg
*.h5
*.data
*.data.gz
*.gz
*.sav
*.zip
*.dot
*.icloud
*.twbx
*.tar
.ipynb_checkpoints
jupyter_container/*.ipynb

# Whitelisted files
!requirements.txt
!dash_container/data/*
.index.html
