# Ignore the Following Files
.DS_Store
*.csv
*.csv.gz
*.zip
*.pem
*.txt
*.xls
*.json
*.pkl
*.jpeg
*.h5
*.data
*.data.gz
*.gz
*.sav
*.zip
*.dot
*.icloud
*.twbx
*.tar
*.ipynb_checkpoints
.ipynb_checkpoints
jupyter_container/*.ipynb
*/cache

# Whitelisted files
!requirements.txt
!dash_container/data/*
.index.html

# White list container mount but not the mounted files.
!postgres_container/cache/data

# Sample databases
!devices_small.tar.gz